﻿.pageForm {
    text-align: center;
    font-family: Helvetica,Arial, sans-serif;
}
label {
    display: inline-block;
    width: 150px;
}
.titleInput, .authorInput, .contentInput {
    padding-bottom: 40px;
}
.myButton {
    padding: 8px 15px;
    border: none;
    font-size: 1.125em;
    color: #fff;
    background-color: #1f5673;
    border-radius: 10px;
}
.myButton:hover {
    background-color:#444;
}
.myButton:active{
    background-color:#777;
    color:#000;
}
.tablerow{
    color:#000;
    font-size:1.2em;
}
.tablerow a {
    text-decoration: none;
    color:#1f5673;
}
.tablerow a:hover {
    color: #0cd3d3;
}



